openapi: 3.2.0
info:
  title: Efí (formerly Gerencianet) Payments Pix Webhooks API
  description: Representative subset of Efí's public REST APIs for the Brazilian financial system.
  version: '1.0'
  contact:
    name: Efí Developers
    url: https://dev.efipay.com.br
servers:
- url: https://pix.api.efipay.com.br
  description: Pix API - production (mTLS certificate required)
- url: https://pix-h.api.efipay.com.br
  description: Pix API - sandbox / homologação (mTLS certificate required)
- url: https://cobrancas.api.efipay.com.br
  description: Cobranças (Charges) API - production
- url: https://openfinance.api.efipay.com.br
  description: Pix via Open Finance API - production (mTLS certificate required)
security:
- oAuth2ClientCredentials: []
tags:
- name: Pix Webhooks
  description: Webhook registration for received-Pix notifications. Host pix.api.efipay.com.br, mTLS required.
paths:
  /v2/webhook/{chave}:
    parameters:
    - name: chave
      in: path
      required: true
      description: The Pix key (chave) the webhook is associated with.
      schema:
        type: string
    put:
      operationId: configureWebhook
      tags:
      - Pix Webhooks
      summary: Configure a Pix webhook
      description: Registers the callback URL that Efí will POST received-Pix notifications to for a given Pix key. Scope webhook.write.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '200':
          description: Webhook configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: getWebhook
      tags:
      - Pix Webhooks
      summary: Retrieve a Pix webhook
      description: Retrieves the webhook configured for a given Pix key. Scope webhook.read.
      responses:
        '200':
          description: The configured webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWebhook
      tags:
      - Pix Webhooks
      summary: Cancel a Pix webhook
      description: Cancels the webhook associated with a given Pix key. Scope webhook.write.
      responses:
        '204':
          description: Webhook cancelled.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/webhook:
    get:
      operationId: listWebhooks
      tags:
      - Pix Webhooks
      summary: List Pix webhooks
      description: Lists webhooks associated with Pix keys, filtered by parameters. Scope webhook.read.
      responses:
        '200':
          description: A list of webhooks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid OAuth2 token, or (on Pix / Open Finance) a missing or invalid mTLS certificate.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Webhook:
      allOf:
      - $ref: '#/components/schemas/WebhookRequest'
      - type: object
        properties:
          chave:
            type: string
          criacao:
            type: string
            format: date-time
    WebhookRequest:
      type: object
      properties:
        webhookUrl:
          type: string
          format: uri
    Error:
      type: object
      properties:
        nome:
          type: string
        mensagem:
          type: string
        error:
          type: string
        error_description:
          type: string
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth2 client-credentials. Obtain a bearer token from the host''s token endpoint using HTTP Basic auth (Client_Id / Client_Secret), then send it as Authorization: Bearer. On the Pix and Open Finance hosts a mutual TLS (mTLS) client certificate (.p12/.pem) is additionally mandatory on every request, including the token request, per Brazilian Central Bank rules.'
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.write: Create and revise immediate Pix charges.
            cob.read: Read immediate Pix charges.
            cobv.write: Create and revise dated Pix charges.
            cobv.read: Read dated Pix charges.
            pix.write: Request Pix refunds.
            pix.read: Read received Pix and refunds.
            pix.send: Send Pix (Cash-Out).
            loc.write: Create payload locations.
            webhook.write: Configure and delete webhooks.
            webhook.read: Read webhooks.
            gn.opb.participants.read: Read Open Finance participants.
            gn.opb.payment.pix.send: Initiate Pix via Open Finance.
            gn.opb.payment.pix.read: Read Open Finance payments.
