openapi: 3.2.0
info:
  title: Efí (formerly Gerencianet) Payments Open Finance API
  description: Representative subset of Efí's public REST APIs for the Brazilian financial system.
  version: '1.0'
  contact:
    name: Efí Developers
    url: https://dev.efipay.com.br
servers:
- url: https://pix.api.efipay.com.br
  description: Pix API - production (mTLS certificate required)
- url: https://pix-h.api.efipay.com.br
  description: Pix API - sandbox / homologação (mTLS certificate required)
- url: https://cobrancas.api.efipay.com.br
  description: Cobranças (Charges) API - production
- url: https://openfinance.api.efipay.com.br
  description: Pix via Open Finance API - production (mTLS certificate required)
security:
- oAuth2ClientCredentials: []
tags:
- name: Open Finance
  description: Pix payment initiation via Open Finance. Host openfinance.api.efipay.com.br, mTLS required.
paths:
  /v1/open-finance/participants:
    get:
      operationId: listOpenFinanceParticipants
      tags:
      - Open Finance
      summary: List Open Finance participants
      description: Lists the banks and fintechs available as payment sources in Brazil's Open Finance ecosystem. Modeled from Efí's documented Open Finance scopes (gn.opb.participants.read); path shown is representative. Scope gn.opb.participants.read.
      responses:
        '200':
          description: A list of participants.
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/open-finance/payments/pix:
    post:
      operationId: initiateOpenFinancePix
      tags:
      - Open Finance
      summary: Initiate a Pix payment via Open Finance
      description: Initiates a Pix payment as a payment initiator across an Open Finance participant. Modeled from Efí's documented scope gn.opb.payment.pix.send; path shown is representative.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenFinancePixRequest'
      responses:
        '201':
          description: The initiated payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenFinancePixPayment'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    OpenFinancePixPayment:
      allOf:
      - $ref: '#/components/schemas/OpenFinancePixRequest'
      - type: object
        properties:
          identifierPayment:
            type: string
          status:
            type: string
    Participant:
      type: object
      properties:
        identification:
          type: string
        name:
          type: string
    OpenFinancePixRequest:
      type: object
      properties:
        payer:
          type: object
          properties:
            participant:
              type: string
        pix:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        nome:
          type: string
        mensagem:
          type: string
        error:
          type: string
        error_description:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid OAuth2 token, or (on Pix / Open Finance) a missing or invalid mTLS certificate.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth2 client-credentials. Obtain a bearer token from the host''s token endpoint using HTTP Basic auth (Client_Id / Client_Secret), then send it as Authorization: Bearer. On the Pix and Open Finance hosts a mutual TLS (mTLS) client certificate (.p12/.pem) is additionally mandatory on every request, including the token request, per Brazilian Central Bank rules.'
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.write: Create and revise immediate Pix charges.
            cob.read: Read immediate Pix charges.
            cobv.write: Create and revise dated Pix charges.
            cobv.read: Read dated Pix charges.
            pix.write: Request Pix refunds.
            pix.read: Read received Pix and refunds.
            pix.send: Send Pix (Cash-Out).
            loc.write: Create payload locations.
            webhook.write: Configure and delete webhooks.
            webhook.read: Read webhooks.
            gn.opb.participants.read: Read Open Finance participants.
            gn.opb.payment.pix.send: Initiate Pix via Open Finance.
            gn.opb.payment.pix.read: Read Open Finance payments.
